$font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;

$sidebar-width: 200px;
$sidebar-right-padding: 20px;


/* Color */
$base-font-color: #404040;
// #main-content
$header-color: #404040;

$link-color: #2879d0;
$link-hover-color: #2879d0;

$tree-line-color: #919191;
